# .coveragerc to control coverage.py
[run]
source = nereid
branch = True
relative_files = True

[report]
ignore_errors = True
omit = nereid/data/*,*main.py,*startup.py,*_no_git*
exclude_also =
    if TYPE_CHECKING:
