scipy==1.4.1
pandas==1.0.3
networkx==2.4
pydot==1.4.1
graphviz==0.13.2
matplotlib==3.2.1
fastapi==0.54.1
pydantic==1.4
aiofiles==0.4.0
celery==4.4.2
jinja2==2.11.1
redis==3.4.1
orjson==2.6.5
pyyaml==5.3
pint==0.11
typing-extensions==3.7.4.2
