scipy==1.5.4
pandas==1.1.4
networkx==2.5
pydot==1.4.1
graphviz==0.14.2
matplotlib==3.3.3
fastapi==0.61.2
pydantic==1.7.2
aiofiles==0.6.0
celery==5.0.2
jinja2==2.11.3
redis==3.5.3
orjson==3.4.3
pyyaml==5.3.1
pint==0.16.1
typing-extensions==3.7.4.3
