black==23.3.0
cfgv==3.4.0
click==8.1.7
distlib==0.3.7
filelock==3.12.4
identify==2.5.30
mypy==1.5.1
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pre-commit==3.4.0
PyYAML==6.0.1
ruff==0.0.292
typing_extensions==4.8.0
virtualenv==20.24.5
