black==23.12.1
cfgv==3.4.0
click==8.1.7
distlib==0.3.8
filelock==3.14.0
identify==2.5.36
mypy==1.10.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.1
pre-commit==3.7.0
pyyaml==6.0.1
ruff==0.4.2
setuptools==69.5.1
typing-extensions==4.11.0
uv==0.1.39
virtualenv==20.26.1
wheel==0.41.2
