amqp==5.2.0
annotated-types==0.6.0
billiard==4.2.0
celery==5.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
graphviz==0.20.3
kiwisolver==1.4.5
kombu==5.3.7
matplotlib==3.8.4
networkx==3.3
numpy==1.26.4
orjson==3.10.2
packaging==24.0
pandas==2.2.2
pillow==10.3.0
pint==0.23
prompt-toolkit==3.0.43
pyarrow==16.0.0
pydantic==2.7.1
pydantic-core==2.18.2
pydantic-settings==2.2.1
pydot==2.0.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pyyaml==6.0.1
redis==5.0.4
scipy==1.13.0
setuptools==69.5.1
six==1.16.0
tenacity==8.2.3
typing-extensions==4.11.0
tzdata==2024.1
uv==0.1.39
vine==5.1.0
wcwidth==0.2.13
wheel==0.41.2
